.page-footer {
    background-color: #00AADB;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}

body {
    background-color: #00AADB;
}

.buttonRow{
    margin-top: 20%;

}

a {
    color: white;
}

#left{
    margin-left: 
}
.z-depth-5 {
    border-radius: 10px;
    margin-top: 33%;
    font-size: 33px;
    padding-top: 5%;
    padding-left: 10%;
    height: 80%;
    width: 100%;
    background-color: #5C1756;
}

#left #right {
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
}

@media screen and (max-width: 600px) {
   .z-depth-5 {
       font-size: 20px; 
       padding:10%;
   }
   .buttonRow{
    margin-top: 1%;

}
@media screen and (max-width: 320px) {
   #left,#right {
    width: 300px;
    padding:5%;
   }

   
   .buttonRow{
    margin-top: 1%;

}
}
